.modal {
  position: fixed;
  inset: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: auto;
  transition: var(--transition);

  &.open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &__content {
    position: relative;
    margin: auto 0;
    padding: 60px 40px 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    border-radius: 20px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: var(--transition);
  }
}

@media (hover: hover) {
  .modal {
    &__close {
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__content {
      padding: 50px 20px 30px;
    }

    &__close {
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 450px) {
  .modal {
    padding: 0;
    
    &__content {
      min-height: 100dvh;
      max-width: 100%;
      border-radius: 0;
    }
  }
}